<main>
    <div class="cadastro">
        <h1>Cadastre-se</h1>
        <h3>Crie uma conta</h3>
        <form method="POST" action='@Url.Action("CadastrarCliente", "Cadastro")'>
            <p>Nome</p>
            <input type="text" name="nome" placeholder="Insira seu nome">

        <div>
            <p>Data de Nascimento</p>
            <input id="data-nascimento" type="date" maxlength="20" minlength="3" name="data-nascimento"/>
        </div>
            <p>Email</p>
            <input type="email" name="email" maxlength="30" minlength="10" placeholder="jose123@gmail.com"/>
            <div>
                <p>Senha</p>
                <input id="senha" type="password" maxlength="20" minlength="6" name="senha" placeholder="jose123456"/>
            </div>
            <div>
                <p>Confirmar-senha</p>
                <input id="confirmar-senha" type="password" maxlength="20" minlength="6" name="confirmar-senha" />
            </div>
            <input type="submit" name="" value="Enviar">
        </form>
    </div>
</main>