<main>
    <div id="corporativo">
        <h1>Eventos corporativos</h1>
        <img src="img/corporativo.jpg" />
        <img src="img/corporativo2.jpg" />
        <img src="img/corporativo3.jpg" />
        <img src="img/corporativo4.jpg" />
        <img src="img/corporativo5.jpg" />
        <img src="img/corporativo6.jpg" />
    </div>
    
    <div id="casamento">
        <h1>Festas de casamento</h1>
        <img src="img/casamento.jpg" />
        <img src="img/casamento2.jpg" />
        <img src="img/casamento3.jpg" />
        <img src="img/casamento4.jpg" />
        <img src="img/casamento5.jpg" />
        <img src="img/casamento6.jpg" />
    </div>
    
    <div id="palestras">
        <h1>Palestras ao público</h1>
        <img src="img/palestras.jpg" />
        <img src="img/palestras2.jpg" />
        <img src="img/palestras3.jpg" />
        <img src="img/palestras4.jpg" />
        <img src="img/palestras5.jpg" />
        <img src="img/palestras6.jpeg" />
    </div>
    
    <div id="dancar">
        <h1>Ótimo para dançar</h1>
        <img src="img/dançar.jpg" />
        <img src="img/dançar2.jpg" />
        <img src="img/dançar3.jpg" />
        <img src="img/dançar4.jpg" />
        <img src="img/dançar5.jpg" />
        <img src="img/dançar6.jpg" />
    </div>
    
    <div id="shows">
        <h1>Shows de vários tipos</h1>
        <img src="img/show.jpg" />
        <img src="img/show2.jpg" />
        <img src="img/show3.jpg" />
        <img src="img/show4.jpg" />
        <img src="img/show5.jpg" />
        <img src="img/show6.jpeg" />
    </div>
</main>