* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    font-family: '&quot', 'Times New Roman';
}

p{
    text-align: justify;
}

h2, h3, h4, h5, h6{
    font-family: '&quot', 'Times New Roman',
}

/********************************************************************
            FORMATAÇÃO DA LOGO DO SITE
*******************************************************************/

#logo >img {
    widows: 300px;
    padding-right: .60em;
    padding-left: .7em;
    height: 10em;
}

/**********************************************************************
            FORMATAÇÃO DO MENU DE NAVEGAÇÃO
**********************************************************************/
#menu{
    display: none;
    background-color: #ffc600;
    width: 100%;
    display: block;
    justify-content: space-between;
}

#menu ul {
    text-transform: uppercase;
    padding: 0px;
    position: absolute;
    top: 70px;
    left: 20%;
    margin: 1px;
    list-style: none;
}

#menu li:hover{
    background-color: #ffc600;
}

#menu li{
    display:inline-block;
    background-color: #000000;
    margin: 0.4em;
    padding: 0.3em;
    font-size: 1.3em;
    transition: 1s;
}


#menu a{
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}


.container {
    justify-content: center;
    text-align: center;
}

.container table { 
    margin: 0em 25em;
    justify-content: center;
    text-align: center;
}